footer {
  /* position: sticky; */
  bottom: 0;
  width: 100%;
}

.footer-left {
  width: 30%;
}

.footer-right {
  width: 70%;
}

footer ul {
  list-style-type: none;
  padding-left: 0;
}

.categoryOption {
  height: 40px;
  background-color: darkgrey;
  font-size: medium;
  font-weight: 600;
  color: black;
}